<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="assets/bulma.min.css">
    <link rel="stylesheet" href="assets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta og:title="{{ .Site.Title }}">
    <meta og:description="{{ .Site.Params.Description }}">
    <meta og:url="{{ .Permalink }}">
  </head>
  <body>
    <section class="section">
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </section>
    <footer class="footer">
        <div class="content container">
            {{ block "footer" . }}
                {{ partial "footer.html" }}
            {{ end }}
        </div>
    </footer>
  </body>
</html>