<div class="copyright">
    <p>Criado com amor e carinho por alguém que se importa com liberdade de expressão na internet.</p>
    <p class="has-text is-size-6">Este projeto utiliza a <a href="http://legis.senado.leg.br/dadosabertos/docs/index.html">API de dados abertos do Senado Federal do Brasil</a>, o framework <a href="https://bulma.io">Bulma.io</a> e a fonte de ícones <a href="https://fontawesome.com/">Font Awesome</a>.<br>
    Este projeto possui o <a href="https://gitlab.com/Xinayder/pl2630">código aberto</a>, disponível sob a licença GNU General Public License v3.</p>
    <p class="has-text is-size-7">Aos Senadores que sentirem-se "ameaçados" por este site: não há sequer alguma informação que pode ser considerada como <em>desinformação</em> ou <em>fake news</em>. Todos os dados foram obtidos pela API de Dados Abertos do Senado Federal, portanto, se houver algum problema, reclame com eles. Caso discorde, sinta-se livre para criar uma nova <em>issue</em> no repositório no GitLab.</p>
</div>