<p>O Projeto de Lei 2630 de 2020, de autoria do senador Alessandro Vieira, foi à votação na Sessão Deliberativa Remota (SDR) nº 62 no dia 30 de junho de 2020 às 16h. Desde a sua concepção, o projeto foi alvo de críticas de diversas entidades e pessoas, pois previa a vigilância em massa da população, que, nas mãos de políticos, serviria para legalizar a perseguição política de seus adversários.</p>
<p>Nas primeiras versões do relatório do senador Angelo Coronel, o texto da lei previa a obrigatoriedade da identificação de usuários de redes sociais, a limitação da quantidade de encaminhamentos e de capacidade de grupos, uma vaga definição de desinformação e fake news, além de criminalizar contas automatizadas (bots) e ferramentas externas para disparos em massa, o que abria uma enorme brecha para cercear os direitos e liberdades na internet, que nos foram garantidos pela Constituição Federal.</p>
<p>Mesmo sendo alvo de críticas duras, tanto por parte de entidades como a Coalizão Direitos na Rede, Internet Lab, CGI.br, Electronic Frontier Foundation e das gigantes Google e Facebook, o projeto foi aprovado na SDR 62 de 30 de junho de 2020. Além de apontar as regras controversas e perigosas da lei, o que as entidades e a população pediam era algo simples: mais tempo para apreciação do projeto, para que todos pudessem opinar e participar da construção de um texto sólido que combate a desinformação, ao mesmo tempo que não restringe ou retira nossos direitos na internet.</p>

<strong>Infelizmente</strong>, os senadores decidiram <strong>ignorar</strong> as solicitações da sociedade e prosseguir com a votação, com o presidente do Senado Federal Davi Alcolumbre dizendo que não havia razões procedimentais para não votar o texto do PL 2630. A última versão do relatório do senador Angelo Coronel foi à votação e foi aprovada, <strong>com 44 votos a favor, 32 votos contrários e 2 abstenções</strong>. Esta versão acatou algumas mudanças no texto da lei (a quantidade de artigos foi reduzida de 70 para 37), mas ainda existem pontos controversos, tais como:
    <ul>
        <li>Obrigatoriedade de identificação para contas "suspeitas";</li>
        <li>Identificação em massa dos usuários de redes sociais;</li>
        <li>Rastreabilidade em massa de mensagens;</li>
        <li>Riscos à liberdade de expressão;</li>
        <li>Obrigatoriedade de relatórios de transparência nas redes sociais, além de obrigá-las a seguir o código de conduta a ser definido pelo Congresso Nacional;</li>
        <li>A nomeação dos integrantes do Conselho de Transparência e Responsabilidade na Internet, que será feita pelo Congresso;</li>
        <li>Validação e compartilhamento de dados entre empresas de telecomunicação e redes sociais</li>
    </ul>
</p>

<p>Com isso, resolvi fazer um site que listasse todos os senadores que se posicionaram a favor de uma votação desorganizada e foram favoráveis à exclusão da participação da sociedade nas discussões do projeto para que todos pudessem opinar e participar do processo de construção de uma lei que trata de algo tão importante, que é a desinformação. Todos os dados obtidos e listados aqui são oriundos do portal de dados abertos do Senado Federal.</p>

<p>Para saber mais sobre a polêmica do assunto, recomendo a leitura dos seguintes artigos:
    <ul>
        <li>CDR: <a href="http://plfakenews.direitosnarede.org.br/nota-da-coalizao-sobre-aprovacao-do-pl-2630-20/">Nota da Coalizão Direitos na Rede sobre a aprovação do PL 2630/2020 no Senado</a></li>
        <li>EFF: <a href="https://www.eff.org/deeplinks/2020/06/5-serious-flaws-new-brazilian-fake-news-bill-will-undermine-human-rights">5 Serious Flaws in the New Brazilian “Fake News” Bill that Will Undermine Human Rights</a></li>
        <li>InternetLab: <a href="https://www.internetlab.org.br/pt/imprensa/leis-para-desinformacao-exigem-mais-do-que-boas-intencoes/">Leis para desinformação exigem mais do que boas intenções</a></li>
        <li>Transparência Brasil: <a href="https://www.transparencia.org.br/blog/nota-conjunta-votacao-do-pl-das-fake-news-poe-em-risco-liberdade-de-expressao-online-e-nao-pode-ser-feita-as-pressas/">Relatório do PL das fake news põe em risco liberdade de expressão online e não pode ser votado às pressas</a></li>
    </ul>
</p>

<p>Lembrando que a tramitação no Senado foi apenas um passo. Resta agora a tramitação na Câmara, e continuaremos na batalha para termos um debate amplo e justo para que todos possam participar da construção de um projeto sólido e robusto que combate a desinformação na internet e respeita nossas liberdades e direitos individuais.</p>