<div class="columns is-multiline">
    {{ $urlResultado := "http://legis.senado.leg.br/dadosabertos/materia/votacoes/141944?v=5" }}
    {{ $resultado := getJSON $urlResultado }}
    {{ with (index $resultado.VotacaoMateria.Materia.Votacoes.Votacao 0) }}
        {{ range sort .Votos.VotoParlamentar "IdentificacaoParlamentar.NomeParlamentar" "asc" }}
                    {{ $id := .IdentificacaoParlamentar.CodigoParlamentar}}
                    {{ $nome := .IdentificacaoParlamentar.NomeParlamentar }}
                    {{ $foto := .IdentificacaoParlamentar.UrlFotoParlamentar }}
                    {{ $partido := .IdentificacaoParlamentar.SiglaPartidoParlamentar }}
                    {{ $uf := .IdentificacaoParlamentar.UfParlamentar }}
                    {{ $email := .IdentificacaoParlamentar.EmailParlamentar }}
                    {{ $paginaSenado := .IdentificacaoParlamentar.UrlPaginaParlamentar }}
                    {{ $comoVotou := .SiglaVoto }}
                    {{ if eq $comoVotou "Sim" }}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="{{ $foto }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <div class="is-inline-block">
                                                <strong>
                                                    {{ $nome }}
                                                </strong>  
                                                <small class="has-text-right is-size-7">
                                                    {{ $partido }}-{{ $uf }}
                                                </small>
                                                {{ if eq $nome "Angelo Coronel" }}
                                                <br>
                                                <small class="has-text is-size-7">Relator da matéria</small>
                                                {{ end }}
                                                {{ if eq $nome "Alessandro Vieira" }}
                                                <br>
                                                <small class="has-text is-size-7">Autor do projeto original</small>
                                                {{ end }}
                                            </div>
                                            <div class="is-block">
                                                <span class="icon is-small has-text-grey">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                                <a href="mailto:{{ $email }}" class="is-size-7">Enviar e-mail</a>
                                            </div>
                                            <span class="icon is-small has-text-grey">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <a href="{{ $paginaSenado }}" class="is-size-7">Visitar página no Senado</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{ end }}
        {{ end }}
    {{ end }}
</div>