{{ define "main" }}
    <div class="content">
    {{ partial "introducao.html" }}

    <hr>
    <p>Estes foram os senadores que votaram <strong>a favor</strong> do PL 2630, na Sessão Deliberativa Remota nº 62 do dia 30 de junho de 2020:</p>
    <br>

    {{ partial "lista-senadores.html" }}

    </div>

{{ end }}